<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Woosungchu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/woosungchu.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </head>
  <body>

    <div id="ws-container" class="container-fluid">
      <div id="ws-business-card" class="jumbotron">
        <p id="name">WOOSUNG CHU</p>
        <p id="job" class="lead">JAVA & PYTHON PROGRAMMER</p>
      </div>

      <div class="footer">
        <p>
          <a href="https://github.com/woosungchu"><i class="fa fa-github fa-2x"></i></a>
        </p>
      </div>
    </div>


  </body>
</html>
