<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="woosungchu page">
    <meta name="author" content="woosungchu">

    <title>Woosungchu</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/woosungchu.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
      // Google-Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-83009418-3', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>

    <div id="ws-container" class="container-fluid">
      <div id="ws-business-card" class="jumbotron">
        <p id="name">WOOSUNG CHU</p>
        <p id="job" class="lead">JAVA &amp; PYTHON PROGRAMMER</p>
      </div>

      <div class="footer">
        <p>
          <a target="_blank" href="https://github.com/woosungchu"><i class="fa fa-github fa-2x"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/woosung-chu-3875a711a/"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a target="_blank" href="https://stackshare.io/woosungchu/did"><i class="fa fa-angellist fa-2x"></i></a>
        </p>
      </div>
    </div>


  </body>
</html>
