<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>A New Startup: Sign Up Today!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Woosungchu Blog</h1>
      </div>
      <div class="footer">
        <p>&copy; Footer</p>
      </div>
    </div>
  </body>
</html>
